/* 임현님 */
.footer {
  padding-top: 50px;
}
.footerInner {
  display: flex;
  height: 100%;
}
.laft {
  margin-right: auto;
}
.address mo_989 {
  color: rgba(0, 0, 0, 0.5);
}
#footerText {
  font-size: large;
  font-weight: bold;
}

#footerImg img {
  height: 50px;
  margin-right: 20px;
}
